[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
pandas = "*"
ipython = "*"
matplotlib = "*"
flask = "*"
scikit-learn = "==1.0.1"

[dev-packages]
setuptools = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
